html{
	font-size: 62.5%;
}
.swiper-slide{
	position: relative;
}

.slider1,.slider2,.slider3,.slider4,.slider5,.slider6,.slider7,.slider8,.slider9,.slider10,.slider11,.slider12{
	overflow: hidden;
	}
	
	
	
/*设置动画效果，封装两个效果*/
@-webkit-keyframes s{
	0%{-webkit-transform:rotate(0deg)}
	100%{-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes ar{
	0%{bottom: 0%;opacity: 1;}
	20%{bottom: 1%;opacity: 0.8;}
	40%{bottom: 2%;opacity: 0.6;}
	60%{bottom: 3%;opacity: 0.4;}
	80%{bottom: 4%;opacity: 0.2;}
	100%{bottom: 5%;opacity: 0;}
}
	

/*设置第一个页面*/
.slider1{
	background: url(../img/1-bg.jpg);
	background-size: cover;
}
.slider1 h2{
	margin-top: 28%;
	text-align: center;
}
.slider1 h2 img{
	width: 70%;
	}
.slider1 h3{
	margin-top: 5%;
	text-align: center;
	}
.slider1 h3 img{
	width: 70%;
	}
.slider1 h4{
	position: absolute;
	top: 0;
	}
.slider1 h4 img{
	width: 100%;
	}

.slider1 h5{
	text-align: center;
	margin-top: 75%;
    position: absolute;
    bottom: 0%;
    width: 100%;
    -webkit-animation: ar 2s linear infinite;
}



/*设置第二个页面*/
.slider2 {
	background: url(../img/bj-2.png);
	background-size: cover;
	
	/*设置弹性布局使居中*/
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.slider2 h5{
	text-align: center;
	margin-top: 75%;
}
.slider2 h2{
	text-align: center;
	position: absolute;
	top: 20%;
	z-index: 1;
}
.slider2 h2 img{
	/*对图片进行动画设置*/
	-webkit-box-shadow: 0px 0px 40px 5px #999;
	width: 90%;
}
.slider2 h4{
	position: absolute;
	top:20%;
	text-align: center;
	z-index: 2;
	}
.slider2 h4 img{
	width: 90%;
	}

.slider2 .bee{
	position: absolute;
	bottom: 15%;
	width: 316px;
	/*margin-left: 30px;*/
	}
.slider2 .be{
	width: 100px;
	height: 60px;
	position: relative;
	float: left;
	font-size: 18px;
	text-align: center;
	line-height: 60px;
	color: #FFFFFF;
	font-family: "黑体";
	/*ox-shadow: h-shadow v-shadow blur spread color inset;
			h-shadow    必需。水平阴影的位置。允许负值。   			
			v-shadow    必需。垂直阴影的位置。允许负值。      			
			blur    	可选。模糊距离。   
			spread    	可选。阴影的尺寸。    
			color    	可选。阴影的颜色。请参阅 CSS 颜色值。   
			inset    	可选。将外部阴影 (outset) 改为内部阴影。
		   */
	-webkit-box-shadow: 0px 0px 30px 5px #000000;
}
.slider2 .be:nth-child(1){
	background: #675aa0;
	/*-webkit-animation-play-state:paused;*/
}
.slider2 .be:nth-child(1):after{
	content: "";
	position: absolute;
	bottom: -30px;
	left: 0px;
	border-top: 30px solid #675aa0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}
.slider2 .be:nth-child(1):before{
	content: "";
	position: absolute;
	top: -30px;
	left: 0px;
	border-bottom: 30px solid #675aa0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}
.slider2 .be:nth-child(2){
	background: #FFB700;
	margin-top: -94px;
	margin-left: -45px;
	-webkit-animation: s 1.5s 3s ease-out;
	/*-webkit-animation-play-state:paused;*/
}
.slider2 .be:nth-child(2):after{
	content: "";
	position: absolute;
	bottom: -30px;
	left: 0px;
	border-top: 30px solid #ffb700;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}
.slider2 .be:nth-child(2):before{
	content: "";
	position: absolute;
	top: -30px;
	left: 0px;
	border-bottom: 30px solid #ffb700;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}
.slider2 .be:nth-child(3){
	background: #0096E3;
	margin-left: 8px;
	-webkit-animation: s 1.5s 3.5s ease-out;
	/*-webkit-animation-play-state:paused;*/
}
.slider2 .be:nth-child(3):after{
	content: "";
	position: absolute;
	bottom: -30px;
	left: 0px;
	border-top: 30px solid #0096e3;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}
.slider2 .be:nth-child(3):before{
	content: "";
	position: absolute;
	top: -30px;
	left: 0px;
	border-bottom: 30px solid #0096e3;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}
.slider2 .be:nth-child(4){
	background: #ee534d;
	margin-left: -46px;
	margin-top: -94px;
	-webkit-animation: s 1.5s 4s ease-out;
	/*-webkit-animation-play-state:paused;*/
}
.slider2 .be:nth-child(4):after{
	content: "";
	position: absolute;
	bottom: -30px;
	left: 0px;
	border-top: 30px solid #ee534d;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}
.slider2 .be:nth-child(4):before{
	content: "";
	position: absolute;
	top: -30px;
	left: 0px;
	border-bottom: 30px solid #ee534d;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}
.slider2 .be:nth-child(5){
	background: #1b2d57;
	margin-left: 8px;
	-webkit-animation: s 1.5s 4.5s ease-out;
	/*-webkit-animation-play-state:paused;*/
}
.slider2 .be:nth-child(5):after{
	content: "";
	position: absolute;
	bottom: -30px;
	left: 0px;
	border-top: 30px solid #1b2d57;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}
.slider2 .be:nth-child(5):before{
	content: "";
	position: absolute;
	top: -30px;
	left: 0px;
	border-bottom: 30px solid #1b2d57;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}


.slider2 h5{
	text-align: center;
	margin-top: 75%;
    position: absolute;
    bottom: 0%;
    width: 100%;
    -webkit-animation: ar 2s linear infinite;
}



/*设置第3个页面*/

.slider3{
	background: url(../img/page3.jpg);
	background-size: 100% 100%;
}

.slider3 h5{
	text-align: center;
	margin-top: 75%;
    position: absolute;
    bottom: 0%;
    width: 100%;
    -webkit-animation: ar 2s linear infinite;
}


/*设置第4个页面*/

.slider4{
	background: url(../img/bj-4.png);
	background-size: cover;
	}
.slider4 h2{
	font-size: 28px;
	font-family: "黑体";
	text-align: center;
	margin-top: 20%;
	color: #FFFFFF;
	}
.slider4 h4{
	text-align: center;
	margin-top: 85px;
}
.slider4 h4 img{
	
	width: 88%;
	
}
.slider4 h5{
	text-align: center;
	margin-top: 75%;
    position: absolute;
    bottom: 0%;
    width: 100%;
    -webkit-animation: ar 2s linear infinite;
}


/*设置第5个页面*/
.slider5{
	background: url(../img/9-bg.jpg);
	background-size: cover;
	}
.slider5 h2{
	text-align: center;	
	}
.slider5 h2 img{
	width: 200px;
	
}
.slider5 h3{
	/*text-align: center;*/	
	font-size: 15px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	width: 90%;
	padding: 0 5%;
	position: absolute;
	bottom: 15%;	
	
	}
	
.slider5 h4{
	position: absolute;
	top: 0;
	}
.slider5 h4 img{
	width: 100%;
	}
	
.slider5 h5{
	text-align: center;
	margin-top: 75%;
    position: absolute;
    bottom: 0%;
    width: 100%;
    -webkit-animation: ar 2s linear infinite;
}	
	
	
/*设置第6个页面*/
.slider6{
	background: url(../img/9-bg.jpg);
	background-size: cover;
	}
.slider6 h2{
	text-align: center;	
	}
.slider6 h2 img{
	width: 200px;
	
}
.slider6 h3{
	/*text-align: center;*/	
	font-size: 15px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	width: 90%;
	padding: 0 5%;
	position: absolute;
	bottom: 15%;	
	
	}
	
.slider6 h4{
	position: absolute;
	top: 0;
	}
.slider6 h4 img{
	width: 100%;
	}
.slider6 h5{
	text-align: center;
	margin-top: 75%;
    position: absolute;
    bottom: 0%;
    width: 100%;
    -webkit-animation: ar 2s linear infinite;
}


/*设置第7个页面*/
.slider7{
	background: url(../img/9-bg.jpg);
	background-size: cover;
	}
.slider7 h2{
	text-align: center;	
	}
.slider7 h2 img{
	width: 200px;
	
}
.slider7 h3{
	/*text-align: center;*/	
	font-size: 15px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	width: 90%;
	padding: 0 5%;
	position: absolute;
	bottom: 15%;	
	
	}
	
.slider7 h4{
	position: absolute;
	top: 0;
	}
.slider7 h4 img{
	width: 100%;
	}
.slider7 h5{
	text-align: center;
	margin-top: 75%;
    position: absolute;
    bottom: 0%;
    width: 100%;
    -webkit-animation: ar 2s linear infinite;
}

/*设置第8个页面*/

.slider8{
	background: url(../img/9-bg.jpg);
	background-size: cover;
	}
.slider8 h2{
	text-align: center;	
	}
.slider8 h2 img{
	width: 200px;
	
}
.slider8 h3{
	/*text-align: center;*/	
	font-size: 15px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	width: 90%;
	padding: 0 5%;
	position: absolute;
	bottom: 15%;	
	
	}
	
.slider8 h4{
	position: absolute;
	top: 0;
	}
.slider8 h4 img{
	width: 100%;
	}
.slider8 h5{
	text-align: center;
	margin-top: 75%;
    position: absolute;
    bottom: 0%;
    width: 100%;
    -webkit-animation: ar 2s linear infinite;
}

/*设置第9个页面*/
.slider9{
	background: url(../img/9-bg.jpg);
	background-size: 100% 100%;
	}
.slider9 h2{
	text-align: center;	
	}
.slider9 h2 img{
	width: 300px;
	
}
.slider9 h3{
	text-align: center;
}
.slider9 h3 img{
	width: 30%;
	margin: 2% 4%;
	/*display: inline-block;*/
}
.slider9 h5{
	text-align: center;
	margin-top: 75%;
    position: absolute;
    bottom: 0%;
    width: 100%;
    -webkit-animation: ar 2s linear infinite;
}
.slider9 h6{
	position: absolute;
	top: 0;
	}
.slider9 h6 img{
	width: 100%;
	}


/*设置第10个页面*/
.slider10{
	background: url(../img/9-bg.jpg);
	background-size: cover;
	}
.slider10 h2{
	margin-left: 23px;
	color: #FFFFFF;
	font-size: 23px;
	margin-top: 53px;
	
}
.slider10 h3{
	font-size: 15px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	width: 85%;
	padding: 0 7.5%;
	margin-top: 10%;
}
.slider10 h4{
	text-align: center;
	margin-top: 15%;
}
.slider10 h4 img{
	width: 85%;
}
.slider10 h5{
	text-align: center;
	margin-top: 75%;
    position: absolute;
    bottom: 0%;
    width: 100%;
    -webkit-animation: ar 2s linear infinite;
}
.slider10 h6{
	position: absolute;
	top: 0;
	}
.slider10 h6 img{
	width: 100%;
	}
	
	
/*设置第11个页面*/
.slider11{
	background: url(../img/9-bg.jpg);
	background-size: 100% 100%;
	}

.slider11 h2{
	text-align: center;	
	}
.slider11 h2 img{
	width: 300px;
	
}
.slider11 h3{
	text-align: center;
}
.slider11 h3 img{
	width: 30%;
	margin: 2% 4%;
	/*display: inline-block;*/
}
.slider11 h5{
	text-align: center;
	margin-top: 75%;
    position: absolute;
    bottom: 0%;
    width: 100%;
    -webkit-animation: ar 2s linear infinite;
}
.slider11 h6{
	position: absolute;
	top: 0;
	}
.slider11 h6 img{
	width: 100%;
	}

/*设置第12个页面*/


.slider12{
	background: url(../img/page11.jpg);
	background-size: 100% 100%;
	}

.slider12 h5{
	text-align: center;
	margin-top: 75%;
    position: absolute;
    bottom: 0%;
    width: 100%;
    -webkit-animation: ar 2s linear infinite;
}
.slider12 h6{
	position: absolute;
	top: 0;
	}
.slider12 h6 img{
	width: 100%;
	}

.slider12 p{
	text-align: center;
	margin-top: -45px;
	
	}
.slider12 p img{
	width: 90%;
	
	}

.slider12 .s111{
	margin-top: 38%;
	}
	
	
/*设置第13个页面*/
.slider13{
	background: url(../img/9-bg.jpg);
	background-size: cover;
}
.slider13 h3{
	color: #FFFFFF;
	font-size: 15px;
	margin-left: 20px;
	margin-top: 15px;
}
.slider13 h4{
	text-align: center;
	margin-left: -10%;
	margin-top: 6%;
	
}
.slider13 h4 img{
	width: 67%;
}
.slider13 .text{
	font-size: 18px;
	margin-left: 25px;
	color: #FFFFFF;
}

.slider13 h5{
	text-align: center;
	margin-top: 75%;
    position: absolute;
    bottom: 0%;
    width: 100%;
    -webkit-animation: ar 2s linear infinite;
}
.slider13 h6{
	position: absolute;
	top: 0;
	}
.slider13 h6 img{
	width: 100%;
	}

